  * {
    box-sizing: border-box;
  }
  /* Style the header */
  header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  /* 너나들이 중랑 로고 */

  .nndi-logo{
    margin-top: 5px;
    margin-bottom:2px;
    width: 600px;
    height: 88px;
    left: 8px;
    top: 15px;
  }

  .nndi-foot{
    width: 800px;
    height: 80px;
    left: 249px;
    top: 1648px;
  }
  /* topnav */
  .topnav {
    overflow: hidden;
    background-color: rgba(254, 190, 190, 1);
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  /* sidenav */
  .nav {
    overflow: hidden;
    background-color: rgba(254, 190, 190, 1);
  }
  
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }



/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 15%;
    height: 1000px;
    background: rgba(254, 190, 190, 1);
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .post {
    float: left;
    padding: 20px;
    background-color: #f1f1f1;
  }
  .post.s{
    width: 40%;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left: 10px;
    border-style: groove;
  }
  .post.re{
    width: 81%;
    margin-left: 10px;
    border-style: groove;
  }
  .float{
    float: left;
    padding: 10px;
    background-color: #ffffff;
    width: 81%;
    margin-left: 10px;


  }

  
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    padding: 10px;
  }

  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #2b2b2b;
    display: block;
    border: 1;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    }

    .dropdown-container {
      display: none;
      background-color: #bb8ff5;
      padding-left: 8px;
      }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  /* BookSearch layout */
  #topview{
    border: 1px solid red; 
    height: 30px;
    float: left;
    margin-left: 10%;

}
  #topview2{
    margin-top: 3%; 
    margin-left: 5%; 
    margin-right: 5%; 
    height: auto;
    background-color:  rgba(217, 217, 217, 0.6);
  }
#bookButton{
    text-align: center; 
    padding: 10%;
    float: left;
}
#bookButton button{
    background-color: white; 
    border: 0px;
}
#bookSearch{
    
    height: auto;
    background-color: rgba(217, 217, 217, 0.6);
    float: left;
    margin-left: 10%;
    
}
#bookSearch select{
    border: 0px;
}
#bookSearch button{
    border: 0px;
    background-color: rgba(217, 217, 217, 0.6);
}
#bookSearch legend{
    border: 1px solid rgba(217, 217, 217, 0.6);
}

/* SelectSection */
#selectHead{
  text-align-last: center; 
}
#selectHeadText{
  border: 10px solid #dddddd; 
  padding:30px;
  background-color:  rgba(254, 190, 190, 1);
}

#selectList{

  float: left;
}
#selectList legend{
  width: 300px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  float: left;
  margin-left: 10%;
}
#selectList2{

  float: left;
}
#selectList2 legend{
  width: 200px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  float: left;
  margin-left: 10%;
}

/* UserAccount */



#AccountForm legend{
  width: 15%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
} 
#userAccountForm h{
  color: red;
}
#userAccountForm button{
  background-color: rgba(254, 190, 190, 1);
  color: white;
}


/* UserLogin */
#UserLoginBody {
  margin: 0;
  padding: 0;
  background-color:  rgba(254, 190, 190, 1);
  
  height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
  }

 /* UserPwdFind  */
  #pwdFind{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
    width: 50%;
    margin-left: 5%;
}
#pwdFind button{
    background-color: rgba(254, 190, 190, 1);
    color: white;
}
#button {
  background-color: rgba(254, 190, 190, 1);
  color: white;
  text-align: center;
  margin-left: 20%;
}

/* selectClassByUser */
#selectClassByUser label{
  float: left;
  margin-left: 5%;
}
#selectClassByUser img{
  float: left;
  width: 15%; 
}
#selectClassByUser strong{
  float: left;
  margin-left: 5%;
}
#selectClassByUser button{
  float: right;
}

/* UserRent */
#UserCenterRent{
  width: 70%;
  float: left;
}
#UserCenterRent label{
  background-color: #9C9C9C;
}
#UserCenterRentimg {
  float: right;
  width: 15%;
}

.pagination{
  float: left;
  margin-left: 25%;
  margin-top: 15%;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
